{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/starter-template.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Wesolandia</title>
</head>
<body style="padding-top: 5rem">

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{% url 'home' %}">Strona Główna</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Wybierz stronę</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="{% url 'dailyreport' %}">Dodaj raport dzienny</a>
                    <a class="dropdown-item" href="{% url 'invoice-add' %}">Dodaj fakturę</a>
                    <a class="dropdown-item" href="{% url 'payment-add' %}">Dodaj płatność</a>
                    <a class="dropdown-item" href="{% url 'product-add' %}">Dodaj produkt</a>
                    <a class="dropdown-item" href="{% url 'stocktaking' %}">Inwentaryzacja</a>
                    <a class="dropdown-item" href="{% url 'products-invoice-add' %}">Dodaj produkt do faktury</a>
                </div>
            </li>
        </ul>
        {#        <form class="form-inline my-2 my-lg-0">#}
        {#          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">#}
        {#          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
        {#        </form>#}
    </div>
</nav>

{% block content %}
{% endblock %}
<div>
    {% if not form %}

        <a class="btn btn-lg btn-secondary carousel-inner" href="{% url 'dailyreport' %}">Dodaj raport dzienny</a><br>
        <br>
        <a class="btn btn-lg btn-secondary carousel-inner" href="{% url 'invoice-add' %}">Dodaj fakturę</a><br><br>
        <a class="btn btn-lg btn-secondary carousel-inner" href="{% url 'payment-add' %}">Dodaj płatność</a><br><br>
        <a class="btn btn-lg btn-secondary carousel-inner" href="{% url 'product-add' %}">Dodaj produkt</a><br><br>
        <a class="btn btn-lg btn-secondary carousel-inner" href="{% url 'stocktaking' %}">Inwentaryzacja</a><br><br>
        <a class="btn btn-lg btn-secondary carousel-inner" href="{% url 'products-invoice-add' %}">Dodaj produkt do
            faktury</a><br><br>

    {% endif %}
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
</body>
<footer>

    <p>Aktualna data: {{ date }}</p>

    {% if user.is_authenticated %}
        {#        <p>{{ user.username }} (<a href="{% url 'logout' %}">Wyloguj</a>)</p>#}
        <p>{{ user.username }} <a href="{% url 'logout' %}">Wyloguj</a></p>
    {% else %}
        {#        <a href="{% url 'login' %}">Zaloguj</a>#}
        <a href="{% url 'login' %}">Zaloguj</a>
    {% endif %}

</footer>
</html>